DATABASE_URL="postgres://username:password@host/database"

CELCAT_URL="https://celcat-back.mmi.codes"

AUTHENTIK_ISSUER="https://auth.example.com"
AUTHENTIK_NAME="authentik"
AUTHENTIK_CLIENT_ID="changeme"
AUTHENTIK_CLIENT_SECRET="changeme"
AUTHENTIK_WELLKNOWN="https://auth.example.com/application/o/.../.well-known/openid-configuration"
AUTHENTIK_REDIRECT_URI="http://example.com/api/auth/callback"

AUTHENTIK_SESSION_SECRET="generate-a-ranodom-secret-32-bytes-minimum"
