@font-face {
	font-family: "OpenDyslexic";
	src: url("@/assets/fonts/OpenDyslexic3-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenDyslexic";
	src: url("@/assets/fonts/OpenDyslexic3-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

:root {
	--txt-base: 16px;
	--font-sans: "SN Pro", sans-serif;
}

:root.text-medium {
	--txt-base: 16px;
}

:root.text-small {
	--txt-base: 14px;
}

:root.text-large {
	--txt-base: 18px;
}

:root.apply-dyslexia {
	--font-sans: "OpenDyslexic", sans-serif;
}
